name: Build Geode Mod
permissions:
  contents: write
on:
  workflow_dispatch:
  push:
    branches:
      - "**"

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        config:
        - name: Windows
          os: windows-latest

        - name: Android32
          os: ubuntu-latest
          target: Android32

        - name: Android64
          os: ubuntu-latest
          target: Android64

    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Build the mod
        uses: geode-sdk/build-geode-mod@main
        with:
          combine: true
          target: ${{ matrix.config.target }}

  package:
    name: Package builds
    runs-on: ubuntu-latest
    needs: ['build']
    steps:
      - uses: geode-sdk/build-geode-mod/combine@main
        id: build

      - uses: actions/upload-artifact@v4
        with:
          name: Build Output
          path: ${{ steps.build.outputs.build-output }}
          
  releasewnotes:
    name: Release
    runs-on: ubuntu-latest
    needs: ['build']
    steps:
      - uses: geode-sdk/build-geode-mod/combine@main
        id: build
      - uses: softprops/action-gh-release@v2
        name: "Release With Dev Tag"
        with:
          prerelease : true
          tag_name: dev
          path: ${{ steps.build.outputs.build-output }}
      - if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v2
        name: "Release"
        with:
          files: ${{ steps.build.outputs.build-output }}/*.geode
          
